
body{
    background-image: url("bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


label{
    color: #E8E8E8;
    font-size: 25px;
}
input,select,input::placeholder{
    background-color: #404040 !important;
    border: 0 !important;
    color: blanchedalmond !important;
}

button:hover{
    background-color: #fff !important;
    color: #000 !important;
}

